$color-red: #E01F3D;
$color-black: #292929;

.pager  {
    width: 25px;
		z-index: 20;
		position: fixed;
		top: 36%;
		left: calc(50% + 31.25rem);

		&.circle--shadowed {
				.pager__item--active {
					border: white 0.0625rem solid;

					.circle {
						background-color: white;
					}
				}

				.circle {
					background-color: white;
				}
		}
}

.pager__item    {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: 0.4375rem 0rem;
    opacity: 0.6;
		border: 0.0625rem solid transparent;
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: border-color .3s;

		&--active {
			border: 0.0625rem solid $color-red;
    	opacity: 1;
    
    	.circle {
    	    background-color: $color-red;
					
    	}
		}
}

.circle    {
		display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $color-black;
    margin: auto;
		transition: background-color 0.3s;
}